@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body {
    height: 100vh;
    background: rgba(255, 255, 255);
    font: 400 1em 'Raleway', sans-serif;
    overflow-x: hidden;

    /* font-family: sans-serif;
  background: #84e8dc;
  background: -moz-linear-gradient(-45deg, #84e8dc 0%, #f4ed8b 100%);
  background: -webkit-linear-gradient(-45deg, #84e8dc 0%,#f4ed8b 100%);
  background: linear-gradient(135deg, #84e8dc 0%,#f4ed8b 100%);
  */
}

.cover100{
    width: 100%;
}

.colorArena {
    background-color: #f6f4ef;
}

header {
    padding: 0.1px 0;
    /*
 h1{
    color: white;
    text-shadow: 1px 3px 4px rgba(0,0,0,0.4);
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.4px;
    font-family: $font;  
  }*/

}

.navPersonalizado {
    background-color: #ffffff;
    padding-top: 10px;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4%;
    align-items: flex-end;
    /*opacity: 70%;  */
}


.textoAbajo {
    margin-top: 320px;
    color: rgb(0 0 0);
    text-align: center;
    font-size: 2.5em;
    /*z-index: auto;
  position: relative;  */

}

/* Círculos que se ve lo que hay dentro al pasar con el cursor */

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


.talleres {
    column-gap: 2em;
    row-gap: 2em;
    display: flex;
    flex-flow: wrap;
    margin: 0%;
    padding: 35px 1% 18% 1%;
    background-color: #f6f4ef;
    justify-content: center;
}

.seccionIzquierda {
    background-color: #f6f4ef;
    width: 31%;
    margin-left: -1px;
}

.seccionDerecha {
    background-color: #f6f4ef;
    width: 31%;
    margin-left: -1px;
}

.snip1566 {
    margin-left: 50%;
    position: relative;
    display: inline-block;
    margin: 10px;
    max-width: 230px;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    box-shadow: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.snip1566 *,
.snip1566:before,
.snip1566:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.snip1566:before,
.snip1566:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    border: 3px solid #ffffff;
    border-color: transparent #ffffff;
}

.snip1566 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 50%;
    padding: 10px;
}

.snip1566 figcaption {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 50%;
}

.snip1566 i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4em;
    z-index: 1;
}

.snip1566 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1566:hover figcaption,
.snip1566.hover figcaption {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.snip1566:hover:before,
.snip1566.hover:before,
.snip1566:hover:after,
.snip1566.hover:after {
    border-width: 10px;
}

.snip1566:hover:before,
.snip1566.hover:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.snip1566:hover:after,
.snip1566.hover:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*.........................*/



.fondoTalleres {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-bottom: -3px;
}

.imgOrigami4 {
    background-image: url("../img/Origami4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40vmax;
    height: 60vh;
    margin-left: 5%;
}

.contenedorTallerColor {
    background-color: #f6f4ef;
    color: #e4ad26;
    text-align: center;
    font: 400 1em 'Raleway', sans-serif;
    letter-spacing: 4px;
    font-size: 1em;
    display: flex;
    flex-flow: row wrap;
    margin-right: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgLettering1 {
    background-image: url("../img/fondoTransparente.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 55vmax;
    height: 60vh;
}

.imgSobrecapa{
    position: absolute;
}

.imgsmall{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 120px;
    row-gap: 30px;
    margin-bottom: 20px;
    margin-left: 5%;
    align-items: center;
}

.imgDetalle{
    margin-top: 20%;
    border-radius: 600px;
    width: 20vw;
    min-width: 230px;
}

/*
.imgCircular {
    border-radius: 150px;
    max-width: 100%;
    max-height: 100%;
}  */

.imgresice {
    height: 300px;
    width: 300px;
}

.circuloText {
    margin-top: 40%;
    text-align: center;
}

/*
.CirculosAbajo {
    margin-top: 1%;
    padding-right: 15px;
}

.CirculosArriba {
    margin-bottom: 1%;
    padding-right: 15px;
}
*/

.align_text_Izq {
    text-align: left;
}

.linea {
    border: 1px solid #a9a9aa;
    width: 100%;
    height: 0px;
    text-align: center;
}

.margin_left{
    margin-left: 40px;
}

.coverColor {
    height: 65vh;
}

.textoInfoColor {
    color: #88898a;
}

.textoInfo {
    font: 400 1.4em 'Raleway', sans-serif;
}

.textoEncuadrado {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30vw;
    margin-top: 120px;
}

.infoTallerColor {
    background-color: #f6f4ef;
    font: 400 1em 'Raleway', sans-serif;
    letter-spacing: 2px;
    width: 47vmax;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    justify-items: start;
    justify-content: space-evenly;
}

.infoTallerBlanco {
    background-color: #f6f4ef;
    color: #777c7e;
    font: 400 1em 'Raleway', sans-serif;
    letter-spacing: 2px;
    width: 47vmax;
    height: 100vh;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: end;
    align-content: center;
    justify-items: start;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.colorFondoTallerBlanco {
    background-color: #ffffff;
}

.colorFondoTallerColor {
    width: 47%;
    background-color: #f6f4ef;
}

.margin_btn_volver{
    margin: 40px 40px 90px 40px;
}

.debajoCarrusel {
    text-align: center;
    font: 400 1em 'Raleway', sans-serif;
    letter-spacing: 4px;
    font-size: 1.7em;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* align-content: stretch; */
    align-items: center;
}





/* en version movil mainStaff margin-top: 45%;
@media (min-width: 400px) {
    .navFondo{
        
    }
  }
  */

/*************************/

/* background-color: rgb(31, 187, 235); */